@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Noto Sans JP Variable", sans-serif !important;
  @apply h-lvh max-h-lvh max-w-[100vw] overflow-x-hidden mx-auto overflow-y-auto;
}
* {
  @apply transition-colors duration-300 ease-in-out;
}
h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-semibold;
}
h4 {
  @apply text-xl font-semibold;
}
h5 {
  @apply text-lg font-medium;
}
h6 {
  @apply text-base font-medium;
}
p {
  @apply text-base;
}

:root {
  @apply max-h-lvh max-w-[100vw];
}

.section {
  @apply w-screen flex justify-center items-center;
}

.content {
  @apply container w-full flex justify-between;
}

.label {
  @apply text-xs sm:text-sm font-bold md:text-lg;
}
.unit {
  @apply text-xs sm:text-sm font-semibold md:text-lg text-tertiary;
}
.light {
  --color-bg-primary: rgb(37, 99, 235); /* blue-500 */
  --color-bg-primary-03: rgba(37, 100, 235, 0.3); /* blue-500 */
  --color-bg-secondary: rgb(247, 250, 252); /* gray-100 */
  --color-bg-tertiary: rgb(203, 213, 224); /* gray-300 */
  --color-text-secondary: rgb(45, 55, 72); /* gray-900 */
  --color-text-primary: rgb(247, 250, 252); /* gray-100 */
  --color-text-tertiary: rgb(74, 85, 104); /* gray-700 */
  --color-text-accent: rgba(237, 100, 166, 1); /* pink-500 (example) */
  --color-text-error: rgba(245, 101, 101, 1); /* red-500 (example) */
  --color-bg-input: rgb(237, 242, 247); /* gray-200 */
  --color-bg-button: rgb(37, 99, 235); /* blue-500 */
  --color-bg-button-hover: rgb(0, 95, 204); /* blue-300 */
}

.dark {
  --color-bg-primary: rgb(27, 60, 126); /* darker gray */
  --color-bg-primary-03: rgba(255, 255, 255, 0.3);
  --color-bg-secondary: rgb(74, 85, 104); /* gray-700 */
  --color-bg-tertiary: rgb(146, 154, 161); /* gray-300 */
  --color-text-primary: rgb(237, 242, 247); /* gray-100 */
  --color-text-secondary: rgb(255, 255, 255); /* gray-100 */
  --color-text-tertiary: rgb(247, 250, 252); /* gray-900 */
  --color-text-accent: rgba(245, 101, 101, 1); /* red-500 (example) */
  --color-text-error: rgba(237, 100, 166, 1); /* pink-500 (example) */
  --color-bg-input: rgb(74, 85, 104); /* gray-700 */
  --color-bg-button: rgb(74, 85, 104); /* gray-700 */
  --color-bg-button-hover: rgb(0, 102, 185); /* blue-500 */
}
